/* game board table */


#board td {
  width: 80px;
  height: 80px;
  border: solid 5px #ff847c;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: #e84a5f;
}

.piece.p2 {
  background-color: #99b898;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: #fc913a;
}

